openrouter:
  base_url: https://openrouter.ai/api/v1
  public_endpoints:
    - /api/v1/chat/completions
  keys:
    - ${OPENROUTER_API_KEY}
  key_selection_strategy: round-robin
  key_selection_opts: []
  free_only: false
  google_rate_delay: 0
  rate_limit_cooldown: 1

requestProxy:
  enabled: false
  url: ""

default_model: mistralai/mistral-7b-instruct:free

models:
  mistralai/mistral-7b-instruct:free:
    api_base: https://openrouter.ai/api/v1
    api_key: ${OPENROUTER_API_KEY}
    access_key: Smartchat-pro.1
