# OpenRouter Proxy Configuration

# Server settings
server:
  host: "0.0.0.0"  # Default interface
  port: 5555  # Default port
  access_key: "your_local_access_key_here"  # Key for accessing the local proxy
  log_level: "INFO"  # Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
  http_log_level: "INFO"  # HTTP access logs level (DEBUG, INFO, WARNING, ERROR, CRITICAL)

# OpenRouter API keys
openrouter:
  keys:
    - "sk-or-v1-your-first-api-key"
    - "sk-or-v1-your-second-api-key"
    - "sk-or-v1-your-third-api-key"
  
  # Time in seconds to temporarily disable a key when rate limit is reached by default
  rate_limit_cooldown: 14400  # 4 hours
  free_only: false # try to show only free models

# Proxy settings for outgoing requests to OpenRouter
requestProxy:
  enabled: false  # Set to true to enable proxy
  url: "socks5://username:password@example.com:1080"  # Proxy URL with optional credentials embedded
